<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_student_root" name="Student Management"
              web_icon="student_management,static/description/icon.png"/>

    <menuitem id="menu_student"
              name="Students"
              parent="menu_student_root"
              action="action_student"
              sequence="10"/>

    <menuitem id="menu_course"
              name="Courses"
              parent="menu_student_root"
              action="action_course"
              sequence="20"/>

    <menuitem id="menu_guardian"
              name="Guardians"
              parent="menu_student_root"
              action="action_guardian"
              sequence="25"/>

    <menuitem id="menu_student_report"
              name="Report Cards"
              parent="menu_student_root"
              action="action_student_report"
              sequence="30"/>
</odoo>