<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_student_root" name="Student Management"
              web_icon="student_management,static/description/icon.png"/>

    <menuitem id="menu_student"
              name="Students"
              parent="menu_student_root"
              action="action_student"
              sequence="10"/>

    <menuitem id="menu_guardian"
              name="Guardians"
              parent="menu_student_root"
              action="action_guardian"
              sequence="20"/>

    <menuitem id="menu_course"
              name="Department"
              parent="menu_student_root"
              action="action_course"
              sequence="30"/>

    <menuitem id="menu_subject"
              name="Courses"
              parent="menu_student_root"
              action="action_subject"
              sequence="40"/>

    <menuitem id="menu_student_batch"
              name="Batch"
              parent="menu_student_root"
              sequence="50"/>

    <menuitem id="menu_student_classroom"
              name="Batch"
              parent="menu_student_root"
              action="action_student_classroom"
              sequence="60"/>

    <menuitem id="menu_student_attendance"
              name="Classroom"
              parent="menu_student_root"
              action="action_student_attendance"
              sequence="70"/>

    <menuitem id="menu_student_report"
              name="Report Cards"
              parent="menu_student_root"
              sequence="80"/>

    <menuitem id="menu_student_report_all"
              name="All Reports"
              parent="menu_student_report"
              action="action_student_report"
              sequence="10"/>

    <menuitem id="menu_student_report_mid_term"
              name="Mid-Term"
              parent="menu_student_report"
              action="action_student_report_mid_term"
              sequence="20"/>

    <menuitem id="menu_student_report_pre_board"
              name="Pre-board"
              parent="menu_student_report"
              action="action_student_report_pre_board"
              sequence="30"/>
</odoo>